.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7rem;
  padding-left: 20rem;
  padding-right: 20rem;
  min-height: 100vh;
  text-align: flex-start;
}