.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  text-align: center;
}

.postButton {
  margin-bottom: 1%;
  margin-top: 5%;
}

.infoText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}