.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  min-height: 100vh;
  text-align: center;
}

.posts {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.organization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
  color:grey
}
